@import url(colors.css);

.btn_links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 56px;
    background-color: var(--background-color-btn-black);
}

    /* font-family: "Bebas Neue", sans-serif; */
a.btn_links{
    font-family: "Bebas Neue", sans-serif;
    color: var(--color-a-white);
    font-size: 24px;
}
