@import url(colors.css);
.cntFooter{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0rem;
}
.cntSocialMedia{
    height: 13.5rem;
    background-color: var(--background-color-footer);
    display: flex;
    justify-content: flex-end;
    align-items: center;

   
}

.iconsSocial__footer{
    margin-right: 2rem;
    display: flex;
    gap: 3rem;
}