@import url(colors.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: var(--color-body-bacground);
}
a{
    text-decoration: none;
}

.appBar{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "Bebas Neue", sans-serif;
    margin: 2rem 2rem;
}
.appBar__icon img{
        width: 3.875rem;
        height: 3.875rem;
}

.appBar__navItems a{
    font-size: 24px;
    color: black;
    margin-left: 1rem;
}
.appBar__navItems a:hover
{
    border-bottom: 3px solid var(--color-red-highlight);
    
}
